<h1>List database</h1>
<table class="table table-striped">
	<tr >
		<th>number</th>
		<th>Email</th>
		<th>Name</th>
		<!-- <th>PassWord__digest</th> -->
		<th>Point</th>
		<th>confirm</th>
		<th>role</th>
		<th>Create Date</th>
		<th>Controll</th>
		<th></th>
	</tr>
	<% @user.each do |f| %>
		<tr>
			<td><%= f.id %></td>
			<td><%= f.email %></td>
			<td><%= f.name %></td>
			<!-- <td><%= f.password_digest %></td> -->
			<td><%= f.point %></td>
			<td><%= f.confirm %></td>
			<td><%= f.role %></td>
			<td><%= f.created_at %></td>
			<td><%= link_to 'Page', user_path(f), class: "btn btn-primary" %><br/>
				<% if current_user.admin? && !current_user?(f) %>
				<%= link_to 'delte' ,f,method: :delete, data: {confirm: 'are you delete'},class: "btn btn-success" %>
				<% end %>
			</td>

		</tr>
	<%end%>
</table>
