 
<% provide(:title, 'Sign up') %>
<h1 class="title-signup">Sign up</h1>
<%= render template: "shared/_error_messages.html" %>
 <div class="container col-md-4 col-md-offset-4">
  <%= form_for(@user,url: signup_path) do |f| %>
  <div class="form-group">
  	<%= f.label :name %>
  	<%= f.text_field :name, class: "form-control" %>
  	<span class="error"><%=@user.errors.full_messages[0]%></span>
  </div>
  <div class="form-group">
  	<%= f.label :email %>
  	<%= f.email_field :email, class: "form-control" %>
  	<span class="error"><%=@user.errors.full_messages[1]%></span>
  </div>
  <div class="form-group">
	<%= f.label :pass_word %>
	<%= f.password_field :pass_word ,class: "form-control" %>
	<span class="error"><%=@user.errors.full_messages[2]%></span>
  </div>
  <div class="form-group">
	<%= f.label :pass_word_confirm %>
	<%= f.password_field :pass_word_confirm,class: "form-control" %>
	<span class="error"><%=@user.errors.full_messages[3]%></span>
  </div>
	<%= f.submit "create acount",class: "btn btn-primary"%>
  <%end%>
 </div>
</div>

