<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "T-O", {controller: "users", action: "index"}, class: "nav navbar-brand"%>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><%= link_to "Member", member_path %></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <%= form_tag(url: '/home', method: :get) do %>
          <%= text_field_tag :name %>
          <%= submit_tag "search", class: "btn btn-default" %>
        <% end %>
      </div>
    </form>
    <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <% if current_user.picture? %>
                 <%= current_user.name %>
                <%= image_tag "#{current_user.picture.url}", alt: "blank",class: "img-circle user_header" %>
                <% else %>
                   <div class="gravatar_edit user_header_not">
                      <%= current_user.name %>
                      <%= gravatar_for current_user %>
                   </div>
                <% end %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "setting", edit_user_path(current_user) %></li>
                  <hr>
                  <li><%= link_to "logout",logout_path,method: :delete, data:{confirm: "are you logout ?"} %></li>
                </ul>
        </li>
      </ul>
    <%else%>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to controller: "users", action: "new" do %>
        <span class="glyphicon glyphicon-user"></span> Sign Up</a>
          <% end %>
      </li>
      <li><%= link_to controller: "sessions", action: "new" do %>
        <span class="glyphicon glyphicon-log-in"></span> Login</a>
      <% end %>
      </li>
    </ul>
  <%end%>
  </div>
</nav>
