<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Share-IT",product_path, class: "nav navbar-brand"%>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Lập Trình</a></li>
      <li><a href="#">Ngoại Ngữ</a></li>
      <li><%= link_to "Document", alldocument_path %></li>
      <li><%= link_to "Member", member_path %></li>
    </ul>
    <% if logged_in? %>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "New Share", document_path %></li>
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <% if current_user.picture? %>
                 <%= current_user.name %>
                <%= image_tag "#{current_user.picture.url}", alt: "blank",class: "img-circle user_header" %>
                <% else %>
                   <div class="gravatar_edit user_header_not">
                      <%= current_user.name %>
                      <%= gravatar_for current_user %>
                   </div>
                <% end %>
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if current_user.admin? %>
                     <li><%= link_to "Admin", admin_users_path %></li>
                  <% end %>
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "setting", edit_user_path(current_user) %></li>
                  <hr>
                  <li><%= link_to "logout",logout_path,method: :delete, data:{confirm: "are you logout ?"} %></li>
                </ul>
        </li>
      </ul>
    <%else%>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to controller: "users", action: "new" do %>
        <span class="glyphicon glyphicon-user"></span> Sign Up</a>
          <% end %>
      </li>
      <li><%= link_to controller: "sessions", action: "new" do %>
        <span class="glyphicon glyphicon-log-in"></span> Login</a>
      <% end %>
      </li>
    </ul>
  <%end%>
  </div>
</nav>
